.profile {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.profile .profilePic {
    width: 240px;
    height: 240px;
}

.settingsIcon {
    margin-left: 210px;
    font-size: 36px;
    border-radius: 100%;
}

.settingsIcon svg path {
    fill: #4E3159;
}

.settingsIcon:hover svg path {
    stroke: violet;
}

.profile .profileName {
    font-size: 60px;
}