.bioBg {
    background-color: #27192D;
}

.feed-userListBg {
    background-color: #41294A;
}

.postBg {
    background-color: #4E3159;
}

.buttons {
    background-color: #27192D;
}

.overallFont {
    font-family: 'Dosis', sans-serif;
}