.bioBg {
    background-color: #27192D;
    font-family: 'Dosis', sans-serif;
}

.feed-userListBg {
    background-color: #41294A;
    font-family: 'Dosis', sans-serif;
}

.postBg {
    background-color: #4E3159;
    font-family: 'Dosis', sans-serif;
}

.buttons {
    background-color: #27192D;
    font-family: 'Dosis', sans-serif;
}

.overallFont {
    font-family: 'Dosis', sans-serif;
}

.userPostName {
    font-size: 30px;
}

.userCommentName {
    font-size:20px
}